h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 0;
}

#gameboard {
    width: 680px;
    height: 680px;
    margin: 0 auto;
    background: limegreen;
    padding-top: 15px;
    padding-left: 15px;
}

#gameboard > div {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #333333;
    background: green;
    text-align: center;
    font-size: 80px;
    line-height: 100px;
    cursor: pointer;
}

#credits {
    text-align: center;
    padding: 20px;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#credits > a {
    color: orange;
    text-decoration: none;
}